body {
  background-color: #45342d;
  font-family: 'Ruda', sans-serif;
}

h1 {
  font-family: 'Trade Winds', cursive;
  font-size: 5em;
  letter-spacing: 5px;
  text-align: center;
}

h1 a {
  color: #c7c2c0;
  text-decoration: none;
}

h1 a:hover {
  color: #2fb05a;
}

#messages {
  color: #2fb05a;
  height: 40px;
  text-align: center;
  margin-top: -30px;

h2 {
  text-align: center;
  padding-bottom: 20px;
  color: #c7c2c0;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.6em;
}

#container {
  width: 60%;
  min-width: 900px;
  margin: 0 auto;
}

#question_list {
  width: 100%;
}

#nav {
  padding: 0px 20px 40px 20px;
  text-align: center;
}

#nav a {
  color: #c7c2c0;
  text-decoration: none;
}

#nav a:hover {
  color: white;
}

.question, .ask-question {
  background-color: #c7c2c0;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 50px;
  padding: 10px 25px 25px 25px;
}

.question h3 {
  color: #45243d;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.6em;
}

.question h3 a {
  color: #45243d;
  text-decoration: none;
}

.question h3 a:hover {
  color: #6a4f63;
  text-decoration: underline;
}

.question p {
  font-size: 1.25em;
}

.full-question {
  background-color: #c7c2c0;
  border-radius: 10px;
  width: 95%;
  margin: 0 auto 50px auto;
  padding: 10px 25px 25px 25px;
}

.full-question h2 {
  color: #45243d;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.25em;
}

.full-question p {
  font-size: 1.25em;
}

.info {
  border-top: 1px solid #6a5c56;
  margin-top: 50px;
  padding-top: 15px;
  color: #6a5c56;
}

.answer {
  background-color: #c7c2c0;
  font-size: 1.25em;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto 50px auto;
  padding: 10px 25px 25px 25px;
}

.question form {
  text-align: center;
}

#question_content {
  width: 50%;
}

.ask-question form {
  text-align: center;
}

.ask-question input {
  margin-top: 15px;
}