body {
  background-color: #45342d;
  font-family: 'Ruda', sans-serif;
}

h1 {
  font-family: 'Trade Winds', cursive;
  font-size: 5em;
  color: #c7c2c0;
  letter-spacing: 5px;
  text-align: center;
}

#container {
  width: 60%;
  min-width: 800px;
  margin: 0 auto;
}

#question_list {
  width: 100%;
}

.question {
  background-color: #c7c2c0;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 50px;
  padding: 10px 25px 25px 25px;
}

.question h3 {
  color: #45243d;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.6em;
}

.question h3 a {
  color: #45243d;
  text-decoration: none;
}

.question h3 a:hover {
  color: #6a4f63;
  text-decoration: underline;
}

.question p {
  font-size: 1.25em;
}

.full-question {
  background-color: #c7c2c0;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 50px;
  padding: 10px 25px 25px 25px;
}

.full-question h2 {
  color: #45243d;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.25em;
}

.full-question p {
  font-size: 1.25em;
}

.info {
  border-top: 1px solid #6a5c56;
  margin-top: 50px;
  padding-top: 15px;
  color: #6a5c56;
}