body {
  background-color: #45342d;
  font-family: 'Ruda', sans-serif;
}

h1 {
  font-family: 'Trade Winds', cursive;
  font-size: 5em;
  color: #c7c2c0;
  letter-spacing: 5px;
  text-align: center;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
  color: #c7c2c0;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.6em;
}

#container {
  width: 60%;
  min-width: 600px;
  margin: 0 auto;
}

#question_list {
  width: 100%;
}

.question {
  background-color: #c7c2c0;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 50px;
  padding: 10px 25px 25px 25px;
}

.question h3 {
  color: #45243d;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.6em;
}

.question p {
  font-size: 1.25em;
}

.question form {

}

.question input {
  margin-top: 15px;
}