<div class="question">
  <div class='ask-question'>
<!--     <p class="center question-text">What's your sketchy question?</p> -->
    <%= form_for @question do |f| %>
      <%= f.text_field :title, placeholder: "Question title" %></td>
      <%= f.text_area :content, size: "112x5", placeholder: "What's your sketchy question?" %></td>
      <%= f.submit %></td>
    <% end %>
  </div>
</div>