<div id='nav'><%= link_to "Ask a Question", new_question_path %></div>

<div id="question_list">
  <% @questions.each do |question| %>
    <%= render 'question', question: question %>
  <% end %>
</div>