<div class="full-question">
  <h2><%= @question.title %></h2>
  <p><%= @question.content %></p>
  <p class="info">Posted by <%= @user.name %> at <%= @question.created_at %></p>
</div>

<div class="answers-list">

</div>