<nav>
  <% if session[:id] %>
    <div>
      <%= link_to("Signout", root_path) %>
    </div>
  <% else %>  
    <div>
      <%= link_to("Login", new_session_path) %>
    </div>
    <div>
      <%= link_to("Sign Up", new_user_path) %>
    </div>
  <% end %>
</nav>