<div class="answer">
  <p><%= answer.content %></p>
  <p class="info">Posted by '<%= Faker::Name.first_name %>' at <%= answer.created_at %></p>
  <% if answer.question.user_id == @logged_in_user_id %>
    <p>Best Answer</p>
  <% end %>
</div>