<div class="voting-area">
  <div class="upvote disabled">
    <i class="fa fa-caret-up fa-3x"></i>
  </div>
  <p class="vote-count-question"><%= count %></p>
  <div class="downvote disabled">
    <i class="fa fa-caret-down fa-3x"></i>
  </div>
</div>